# PlatformIO
firmware/.pio/
firmware/.vscode/

# macOS
.DS_Store

# KiCad backups / autosave
hardware/kicad/*/*-backups/
hardware/kicad/*/*.kicad_prl
hardware/kicad/*/_autosave-*
hardware/kicad/*/*.lck
hardware/kicad/*/*/Gerber/*
hardware/kicad/*/*/*-backups/
hardware/kicad/*/*/*.kicad_prl
hardware/kicad/*/*/_autosave-*
hardware/kicad/*/*/*.lck

.pio/

.vscode/ipch/

*.bak

*.tmp

__pycache__/

hardware/~$*.xls*