# PlatformIO
firmware/.pio/
firmware/.vscode/

# macOS
.DS_Store

# KiCad backups / autosave
hardware/kicad/*/*-backups/
hardware/kicad/*/*.kicad_prl
hardware/kicad/*/_autosave-*
hardware/kicad/*/*.lck
hardware/kicad/*/Gerber/*
hardware/kicad/DesignBlocks/*/*-backups/
hardware/kicad/DesignBlocks/*/*.kicad_prl
hardware/kicad/DesignBlocks/*/_autosave-*
hardware/kicad/DesignBlocks/*/*.lck

.pio/

.vscode/ipch/

*.bak

*.tmp

__pycache__/

hardware/~$*.xls*